/* #heading {
  background-image: url(img/h_img.jpg);
  height: 10cm;
} */
/* body {
  background-image: url(img/h_img.jpg);
} */
p {
  text-align: center;
}
h1 {
  text-align: center;
  color: whitesmoke;
}
h2 {
  text-align: center;
}
img {
  align-self: center;
  max-width: 100%;
  height: auto;
}
#what-we-do.card-body h2 {
  color: black;
}
